<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>线路信息与导航</title>
    <link rel="stylesheet" href="../assets/css/partials.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/3.1.7/purify.min.js"></script>
    <script src="https://unpkg.com/mustache@4.2.0/mustache.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/json5/2.2.3/index.min.js"></script>
</head>

<body class="lineinfo-page">
    <script>window.PAGE_ID = 'lineinfo';</script>

    <div data-include="header"></div>

<main class="news-page">
    <div class="news-list" id="slot-lineinfo">
    
    </div>
</main>

    <div data-include="footer"></div>

    <script src="../assets/js/include-fragments.js"></script>
    <script src="../assets/js/navigate.js"></script>
    <script src="../assets/js/loader.js"></script>
</body>
</html>